[2020-06-12 15:24] nikic opened #1 "Detect header changes in build system"
`make` performs incremental compilation, i.e. it will only rebuild files that have changed. However, apart from few exceptions, our build system currently does not take any dependencies into account. The two most common issues are:

 * If a header is changed, all C files including that header may need to be rebuilt. This may be fixed by running `make clean`.
 * If the build configuration changes (

[2020-06-16 10:03] nikic opened #2 "Accept --enable and --with configure flags interchangeably"
`./configure` currently distinguishes between `--enable-extname` and `--with-extname` flags, where `--enable` is used for extensions without dependencies, and `--with` for those with dependencies.

In practice, the actual usage is very inconsistent, and there's plenty of edge cases (what about extensions that have a dependency, but the dependency is bundled?) Since the pkg-config migration in PHP

[2020-06-16 10:06] nikic opened #3 "Provide build instructions for macos"
We provide build instructions for Linux at https://github.com/php/php-src#building-php-source-code, but not for MacOS. MacOS is the hardest operating system to build PHP on, so having some quick start instructions would be good.

[2020-06-16 10:10] nikic opened #4 "Add WordPress to community tests"
We test a number of community projects in CI via https://github.com/php/php-src/blob/master/azure/community_job.yml. Currently this includes Symfony, Laravel and Amphp. I think it would be good to add WordPress here as well, as a pretty important representative of PHP code in the wild.

WordPress has testing instructions available at: https://make.wordpress.org/core/handbook/testing/automated-test

[2020-06-16 10:40] nikic opened #5 "Test OCI8 on CI"
The oci8 extension is currently not tested on CI. Per https://github.com/php/php-src/pull/5714#issuecomment-644591885 it used to be tested on gcov, but gcov is no longer used since PHP 7.4.

To test oci8, we need to have OracleDB XE available on one of our public CI providers (Travis, Azure Pipelines or AppVeyor). It seems like this is not really possible right now (in a legal way), but based on t

[2020-06-16 22:21] Girgias opened #6 "Resource to opaque object migration"
A long term project is to move all extension resources to objects as they are all in all better.

This issue aims to list the remaining usages of resources within php-src

Related RFC: https://wiki.php.net/rfc/resource_to_object_conversion

PHP 8.0:

- [x] cURL php/php-src#5402
- [x] enchant  php/php-src@cd3e04d
- [x] GD, GdImage php/php-src#4714
- [x] OpenSSL https://github.com/php/php-src/pull/5

[2020-06-16 22:33] Girgias opened #7 "Use ZPP Union type checks whenever possible"
With the introduction of union types in PHP 8.0, ZPP got some added capabilities for common union types namely:
- ``array|object``
- ``string|array``
- ``string|int``

We should aim to use them whenever possible as they handle typing behaviour in weak/strict mode more consistently than when implemented manually (if done at all).

A non exhaustive list of extensions which can benefit from this:
- [

[2020-06-18 06:12] remicollet commented on #6
About **ZIP**, I don't know if it worth the work, as we already have a full OO API.
Perhaps we should rather deprecate the old functional and minimal API.

[2020-06-18 14:12] nikic opened #8 "ext/zip/tests/bug53885.phpt fails on 7.4 on macos"
The test ext/zip/tests/bug53885.phpt fails on PHP 7.4 (but not master!) on macos with the diff:

@remicollet Do you know why this would happen on 7.4 only? It started happening only recently.

[2020-06-18 14:17] remicollet commented on #8
This should not happen.
I notice the same error with libzip 1.7.0 which is totally broken

Which libzip version is it ?

In short libzip 1.7.0 don't have any of the LIBZIP_VERSION_* macro, which make its use impossible

libzip 1.7.1 is OK.

[2020-06-18 14:19] remicollet commented on #8
Perhaps we can add

[code]

[2020-06-18 14:20] nikic commented on #8
@remicollet Thanks for the quick reply! I checked the build log and it does indeed say:

Probably we need to force macos CI to update this package in some way.

[2020-06-18 14:21] remicollet commented on #8
For memory we have same issue with 1.3.1
* 1.3.1 released on 2017-11-19
* 1.3.2 released on 2017-11-22 so only 3 days

And:

* 1.7.0 released on 2020-06-05
* 1.7.1 released on 2020-06-13 so only 1 week

[2020-06-18 14:31] nikic commented on #8
Proposed fix: https://github.com/php/php-src/pull/5737

[2020-06-18 14:46] remicollet commented on #8
Sorry, was working on another fix (at configure time, which can be better), so miss your PR.
BTW, both make sense

[2020-06-18 15:15] nikic commented on #8
Fixed by:
 * https://github.com/php/php-src/commit/090bddb93488b6bcf411e970afe77d96f86f4ac8 libzip version on our macos CI
 * https://github.com/php/php-src/commit/f3e6b123dc5da6a92960fbe21000b53a3450e64a configure check for broken libzip version

Thanks for your help @remicollet!

[2020-06-18 15:15] #8 closed, assigned to nobody

[2020-06-19 07:24] kocsismate commented on #6
@remicollet I was wondering about this a while ago. See my question at https://github.com/php/php-src/pull/5601#issuecomment-631681185

I even had a try at the conversion, but for me, it didn't go as easy as it seemed first, so I stopped. As far as I remember, my main problem was that the data structures used by the OO and procedural interface don't align really well.

Is it really the case? If so

[2020-06-19 07:38] kocsismate opened #9 "Synchronize function/method signatures between documentation and stubs"
Currently, signatures in the manual are not up-to-date for PHP 8, since a lot of changes were done lately related to parameter and return types, as well as default values.

To make things even "worse", we started to display parameter names in error messages, and they are sometimes quite different from the ones shown in the documentation. Thus, we also have to synchronize parameter names (possibly

[2020-06-19 07:51] kocsismate opened #10 "Add stubs for the pgsql extension"
Since the [stubs initiative](https://externals.io/message/106522) had been started, stub definitions were added for [nearly all built-in functions and methods](https://github.com/php/php-src/pulls?q=is%3Apr+label%3AStubs+is%3Aclosed+), except for ext/pgsql.

[2020-06-21 09:02] Ayesh commented on #6
I apologize if this was discussed before.

Wouldn't it be appropriate to declare a `ResourceInterface` and have all the classes implement that? Methods such as `ResourceInterface::close` can provide a unified way to close resources, `ResourceInterface::getId` can return `spl_object_id()`-esque results, and serializers for example can refuse to serialize all `\ResourceInterface` instances.

[2020-06-22 12:03] Girgias commented on #6
The whole point of the migration is to move away from the legacy resource behaviour, moreover with objects all the x_close variants become no-ops.

Adding an OOP API to the opaque objects is also a completely orthogonal issue to moving resources to opaque objects.

And I'd rather that we have a long think about each individual API instead of just bundling a weird interface which will be mostly use

[2020-06-22 12:11] Ayesh commented on #6
With the curl class implementation, for example,  `is_resource()` returns `false` for `CurlHandle` class objects. This means anyone who wants to check if a given variable is a resource (in a semantic sense) needs to use `is_resource` _and_ `instanceOf`.

Having an interface means we will need only one `instaceOf` op, as opposed to every different class name the migration brings.

[2020-06-22 12:18] cmb69 commented on #6
Why do you want to check this? Is there any reason not to check for `!== false`?

[2020-06-22 12:21] nikic commented on #6
Because this is an anticipated failure mode of hosting this internal coordination tracker on GitHub, I'm going to err on the side of over-moderation and say: This is not the place to have this discussion. These issues have been discussed extensively on the PHP internals list in the past, and that would also be the place to revisit any decisions.

[2020-06-23 10:34] nikic opened #11 "log-bwd-multiple-msgs-stdout-stderr.phpt fails intermittently"
I recently un-XFAILED https://github.com/php/php-src/blob/master/sapi/fpm/tests/log-bwd-multiple-msgs-stdout-stderr.phpt but it still fails intermittently with:

[code]

This looks like a genuine bug, not just a race condition. At least I don't see how we would end up with a duplicated log message.

cc @bukka

[2020-06-23 10:36] nikic commented on #11
XFAIL restored in https://github.com/php/php-src/commit/c4639a2debbdf6ac84ee334b9382d113a4862a52.

[2020-06-25 09:09] nikic opened #12 "ext/standard/tests/file/lstat_stat_variation15.phpt fails at high concurrency"
Regularly seeing this test fail at -j32:

[code]

[2020-06-25 09:57] nikic commented on #12
I wonder if this is something similar to https://github.com/php/php-src/commit/1e3196a159583baf93e049ca87f98fb9e56097e2 (cc @alexdowad).

[2020-06-25 11:08] alexdowad commented on #12
It seems likely.

Where is it failing? On your dev machine, or CI?

[2020-06-25 11:10] alexdowad commented on #12
If local, what OS are you running? If you have access to a tool that allows tracing syscalls system-wide, you could quickly find out what is causing the problem.

[2020-06-29 08:57] nikic opened #13 "Test ppc64el on Travis"
Travis also supports ppc64el architecture: https://docs.travis-ci.com/user/multi-cpu-architectures/

We should test it, and drop one of our amd64 jobs instead.

[2020-07-01 11:06] nikic opened #14 "Test on alpine"
Alpine is commonly used as the base image for docker, and it's use of musl means that behavior can be quite a bit different from glibc based distros. I think it would be good to set up an alpine based job on azure (presumably inside a docker container).

[2020-07-02 09:55] nikic commented on #13
Work in progress: https://github.com/php/php-src/pull/5791

[2020-07-13 09:59] nikic opened #15 "Investigate moving ext/exif to libexif"
Libexif: https://github.com/libexif/libexif

The current exif extension has many bugs and has historically suffered from security issues. It would be great to use an established library instead.

From a cursory look, a potential blocker for this is the lack of TIFF support in libexif. There's a PR for that at https://github.com/libexif/libexif/pull/17, but it seems stuck.

[2020-07-13 11:04] johannes commented on #15
Libexif uses LGPL. This is problematic when statically linked. And for shared linking I'm not sure whether we can rely it to be on all systems.

[2020-07-24 13:06] bwoebi opened #16 "Check existing parameter naming for consistency, clarity and possible brevity"
General issue to track naming suggestions:

Let me start with string functions...

General name conventions:
|context|current name|suggestion|reason|
|--|--|--|--|
|*|$string|$str|$str is a very common abbreviation, and effectively just repeating the typehint. Writing $string over $str as parameter name has no intrinsic clarity gain. Also e.g. strtr() uses $str, while str_split uses $string.|
|str

[2020-07-24 13:38] nikic commented on #16
See also https://gist.github.com/nikic/b1223525b8bb0a1bef0f6b8a267318e9 for a list of currently used parameter names, as of a week ago.

[2020-07-25 19:55] beberlei commented on #16
Question: DOMDocument uses $filname a lot, the whole API is mostly camel case, so question would be $fileName or $filename?

Edit: Mark made a good suggestion to rename these in dom explicitly to $path

[2020-07-25 22:13] derickr commented on #16
On 25 July 2020 20:55:50 BST, Benjamin Eberlei <notifications@github.com> wrote:

$filename

Making this $fileName, although arguably more "correct" is also obnoxious. Just like $tineZone would be.

[2020-07-26 09:31] derickr commented on #16
I've given ext/date another pass. Should be done now.

In general, I'm not a fan of short names like `$str` over `$string`, and I am a fan of clarify over conciseness. Try also pronouncing `$str`.

[2020-07-26 10:38] bwoebi commented on #16
@derickr For the specific instance of `str` vs `string` I was also taking inspiration of other languages, e.g. strcmp in C has str1 and str2. In mysql the string to be replaced is called `str` in replace function. In D the parameters are even called just `S` (e.g. split()). etc. I see an overwhelmingly lot of abbreviations for string in the wild, most commonly `str`. I'd argue we really are in lin

[2020-07-27 08:33] kocsismate commented on #16
FWIW I like most of the suggestions in the OP, except for `$str`. :) I think parameter names are not something that needs to be in sync with other languages, so that we can set our own policy.

However, Nikita also expressed that he'd prefer abbreviations where it's possible, so I think we should come up with some heuristics when to consider to use them:
- when an abbreviations is well-estabished

[2020-07-30 22:42] carusogabriel opened #17 "Improve Azure pipelines to skip some changes"
We can improve

https://github.com/php/php-src/blob/47e4001976f3ff85a6d479df39dc82d4ceb18b19/azure-pipelines.yml#L7-L12

to skip builds for changes in text-only files :)

[2020-08-05 20:42] sgolemon commented on #6
BZ2 should be filed under ext/standard/streams
The only resources it interacts with are streams.

[2020-08-06 07:34] nikic commented on #15
@KalleZ did some experimentation with libexif in https://github.com/KalleZ/pecl-exifkit.

@johannes What does that mean in practical terms? Does it mean we can't bundle the library with php-src?

[2020-08-06 11:42] johannes commented on #15
IANAL - obviously.

We also have precedent: libmbfl, which be bundle in mbstring is LGPL.

What does it mean: PHP License says "do whatever you want, but give credit (and don't use PHP name etc.)" thus allows shipping binaries (as Zend does/did in Zend Server) in commercial context.

LGPL says "you can use this in something not GPL, but the LGPL component has to be swappable" meaning that if a use

[2020-08-06 14:13] sgolemon commented on #6
~~Regarding streams (which are going to be biggest PITA by far), I've been thinking it might make transition smoother (and make calling semantics generally nicer for extension authors) to add a new ZPP type `F` which returns a `php_strea*`, so:~~

[code]

~~The idea being that we can update the rest of the runtime where streams are taken as arguments to remove any remaining hint of resources first

[2020-08-06 14:28] sgolemon commented on #6
Okay, expanded idea:

[code]

Then callsites look like:

[code]

Edit to add: While php_stream_from_zval() doesn't currently throw exceptions, I'm sure we could use a version which does throw a proper TypeError.

[2020-08-06 15:34] sgolemon commented on #6
On the other hand.... I've just actually sat down to do grep -r php_stream_to_zval ext/ | wc -l and the answer is only 60. So I may be making a tempest in a teapot.

[2020-08-13 00:05] Girgias opened #18 "Warning to Error (TypeError/ValueError) in extensions"
This is a meta to-do list/progression status for the conversion of Warnings (and possibly Notices) to Errors in extensions.
Some extensions might not emit any warnings and should be ticked with a relevant note.

One way to check for ``E_WARNING`` is looking at symbol usage in C files with the help of LXR: https://heap.space/search?project=php-src&full=&defs=&refs=E_WARNING&path=&hist=&type=c&n=100

[2020-08-19 00:41] TysonAndre commented on #16
https://gist.github.com/TysonAndre/8d71559febf58f6af41cce009d4fc704#file-gistfile1-txt-L15 has some notes on the differences between php-src and Phan, which uses function signatures from a variety of places

- ignore str vs string, which I forgot about and renamed too early.

There's a collection of scripts I wrote in https://github.com/phan/phan/tree/master/internal (internalsignatures.php and li

[2020-08-21 15:59] Crell commented on #16
Oh, this is a fun thread.  Related: https://github.com/php/php-src/pull/6027

In chat, Levi suggested standardizing array functions on "input" and "callback" (where it's currently a combination of array, array1, or various less sensible things).  That seems sensible to me if it does to everyone else.

[2020-08-21 20:21] Crell commented on #16
Another related PR: https://github.com/php/php-src/pull/6032

[2020-08-21 20:42] TysonAndre commented on #16
$input seems reasonable - it'd hopefully make it easier to remember the names if it was used everywhere where there was one input array.

It also works better when there's also collection support, or for `array_*` functions that also accept non-traversable objects.

------

- input seems slightly clearer than $arg or $value, but not quite as clear as $array when learning the language or seeing err

[2020-08-21 22:07] Crell commented on #16
For most of the array functions, they take only an array and don't modify it, so $input seems reasonable to me.  (I also considered $source, but I like $input better.)  For the moment I'm not dealing with iterables; I don't expect array_map() to ever start taking an iterable, honestly.

For mutating functions like sort() et al, $array is probably the best option.  Anything else gets kind of abstra

[2020-08-22 05:33] nikic commented on #16
I prefer $array over $input. "Input" is very generic and could refer to literally any parameter.

[2020-08-23 16:14] TysonAndre commented on #16
After some consideration, I feel the same way

There's also the inconsistency of having generic object functions accept $object, some generic string functions accept $str/$string, feof accepting handle/resource, but array functions expecting $input.

It'd be easier to see wrongness visually with `array_filter(array: $x->getTraversable(), callback: $cb)` than `array_filter(input: $x->getTraversable

[2020-08-25 00:23] TysonAndre commented on #16
I've put together a script to compare the stubs used by php-src 8.0 with the parameter names in php.net

https://gist.github.com/TysonAndre/1994cc681ad04109b7ab3f2fd7407b6f
The generated output from https://github.com/phan/phan/commits/1c7bb0b5ea3fa46460806c33895a5a509af187b3 (excludes some files with repeated basenames such as calendar.stub.php, easy enough to rename)

There's around 800 mismatch

[2020-08-27 00:21] Crell commented on #16
New PR that covers all of array functions: https://github.com/php/php-src/pull/6046

Docs to be updated accordingly after that gets merged.

[2020-08-31 16:13] nikic opened #19 "Intermittent failure in setcookie.phpt"
https://dev.azure.com/phpazuredevops/PHP/_build/results?buildId=10681&view=ms.vss-test-web.build-test-results-tab&runId=241956&resultId=113035&paneView=debug

ext/standard/tests/network/setcookie.phpt

[code]

[2020-09-07 13:59] kocsismate opened #20 "Allow empty needle in grapheme_str*() functions"
Currently, string functions in ext/standard and ext/mbstring can accept an empty `$needle`, so we should add support for this in ext/intl as well.

The relevant code that needs to be changed is https://github.com/unicode-org/icu/blob/f744742e036441cbfd54b535e722dc3801ff0f63/icu4c/source/i18n/usearch.cpp#L2675. Discussion: https://github.com/php/php-src/pull/5972#discussion_r481912754

[2020-09-09 14:52] nikic commented on #10
Done in https://github.com/php/php-src/commit/47688ab6d97f0efc004a12ad10174162ef4d2277. This was "fun".

[2020-09-09 14:52] #10 closed, assigned to nikic

[2020-09-11 09:12] nikic opened #21 "Move Windows testing to Azure Pipelines"
We only have two parallel builds on AppVeyor, and additionally that service has unworkable cancellation behavior (there are no "rolling builds"). We should try moving this to Azure. There is some old work on this at https://github.com/php/php-src/pull/4223 that might be reused.

[2020-09-14 09:52] nikic opened #22 "Test --with-unixODBC on azure"
It would be good to at least check that it builds. Currently we fail to build --with-werror due to signed/unsigned char warnings.

[2020-09-14 15:36] Girgias opened #23 "Consistent named param: Extension Tracker"
This is a tracker to see which extensions have been reviewed in regards to #16

- [x] BCMath (https://github.com/php/php-src/pull/6205)
- [x] BZ2 (https://github.com/php/php-src/pull/6280)
- [x] Calendar (https://github.com/php/php-src/pull/6277)
- [x] COM (https://github.com/php/php-src/pull/6296)
- [x] Ctype (https://github.com/php/php-src/pull/5878)
- [x] cURL (https://github.com/php/php-src/pu

[2020-09-17 13:32] nikic commented on #22
Done in https://github.com/php/php-src/pull/6150. However, we only build, the tests get skipped.

[2020-09-17 13:32] #22 closed, assigned to nikic

[2020-09-17 13:39] TysonAndre opened #24 "Improve remaining stubs with `= UNKNOWN` where possible"
Related to #23

See the discussion in https://externals.io/message/111878

Currently, for ldap_sasl_bind, `null` is coerced to the empty string for `string $bind_rdn = UNKNOWN` with strict_types=0, and is a TypeError in strict_types=1, and the stubs use `UNKNOWN`.

If it's safe to change the default to the empty string or null, it'd be an improvement to do so - I'm not familiar with the ldap imple

[2020-09-17 14:02] kocsismate commented on #24
@TysonAndre I've been doing this task for quite a long while (we were above 300 `UNKNOWN` default values initially), and I'd say most of the remaining `UNKNOWN` defaults cannot be changed (easily) in PHP 8.0, or the change isn't worth, mostly because of the following reasons:
- Sometime we just can't add a new default value, e.g. in case of `mixed` parameters, like in `stream_filter_prepend()`
- T

[2020-09-17 14:08] MCMic commented on #24
I’m working on a PR for `ext/ldap`

[2020-09-17 15:15] MCMic commented on #24
See https://github.com/php/php-src/pull/6153

[2020-09-17 17:44] kocsismate commented on #24
For `ext/odbc` see https://github.com/php/php-src/pull/6154

[2020-09-18 08:38] kocsismate commented on #24
For `ext/pdo_pgsql`: https://github.com/php/php-src/pull/6159

And I'll directly commit the fix for `xmlwriter_write_dtd_entity()`, since its ZPP already has been fixed recently, but I only updated the stub for its method counterpart.

[2020-09-18 14:09] dtakken commented on #16
I was just wondering what to do with extensions that expose a dual object oriented / procedural API. For these extensions the class methods have equivalent global functions.

We use different parameter naming styles for functions and methods. However, it seems like the dual APIs share the signatures between a method and its equivalent function. That means we presently cannot use different paramete

[2020-09-18 14:23] kocsismate commented on #16
@dtakken I think there's no technical issue with using different parameter names in aliases. When I was making changes to this file today (I assume you saw it? :) ) I was close to rename the parameters in question to use the correct case, but I wanted to have some discussion first, so changed my mind.

[2020-09-18 14:41] dtakken commented on #16
@kocsismate Ok then I do not understand how it works. :) I only see it generate one function signature in the *_arginfo.h file. I do see that an `@alias` comment can change the name of the resulting function, but not its parameters?

Yes, I saw your changes. Great job.

[2020-09-18 19:28] kocsismate commented on #16
The alias in the context of stubs only means that the same C code (`PHP_FUNCTION(xmlwriter_write_dtd_entity)`) is to be invoked for both the aliased function and the alias method. On the other hand, both of them have a separate arginfo structure, since the return type of these functions and the number of parameters are already different (https://github.com/php/php-src/blob/d9628b9ca961d634e81e5c4d

[2020-09-18 21:23] dtakken commented on #16
@kocsismate Ah yes, I see it now. I was looking into it to see how I might help a bit with this effort. Now I know. Thanks!

[2020-09-18 21:35] Girgias commented on #24
I'll try to handle IMAP as I'm already working on it

[2020-09-19 12:37] kocsismate commented on #24
Zend functions as well as SAPI functions are not included in this list, but I've just submitted two PRs for them to fix the last remaining `UNKNOWN` default values (where possible):
- https://github.com/php/php-src/pull/6166
- https://github.com/php/php-src/pull/6167

[2020-09-22 12:03] dtakken commented on #24
I tried my hand at the `rand()` and `rand_mt()` functions:

https://github.com/php/php-src/pull/6184

[2020-09-23 07:32] remicollet commented on #23
Checked zip, consistency fixed in https://github.com/php/php-src/commit/dafc72cb33ea677cd0b3caffc8fe7bf510a4bf7c

[2020-09-23 07:44] remicollet commented on #23
As a side note, this also means php documentation probably needs a big update, so the parameters name describe there matches actual one in 8

Done for **zip** in https://github.com/php/doc-en/commit/462e36980658cbed6b76f188038edc796ae379bc and https://github.com/php/doc-en/commit/002b7dd50a0cb86e965022610f08f240cadb6fcc

[2020-09-23 07:47] kocsismate commented on #23
@remicollet Yes, we have already started working on (at least making it possible to) automatically generate function signatures for the manual.

And later we should change the parameter names in the descriptions as well.

[2020-09-23 07:56] cmb69 commented on #23
That should be done as soon as the signatures are changed in the manual. :)

[2020-09-23 07:58] kocsismate commented on #23
True :) I messed up the timeline ^^ Should have said "afterwards" or "right after"

[2020-09-23 10:07] nikic commented on #24
We're done here, right? I think everything either has an open PR or is intentional.

[2020-09-23 10:13] kocsismate commented on #24
@nikic I also think we're done. The only functions I haven't looked at are the ones in ext/dba, but apart from that we should be good.

I'm now linking my last PR: https://github.com/php/php-src/pull/6176

[2020-09-23 13:41] dtakken commented on #23
PR for mysqli is here: https://github.com/php/php-src/pull/6172

@Girgias Could you please add it to the list?

[2020-09-24 13:46] nikic commented on #24
Okay, I'm closing this one then. I looked at ext/dba and think the UNKNOWN in dba_open/dba_popen could be made nullable, but given the state of that code, I don't think it's worth the bother.

[2020-09-24 13:46] #24 closed, assigned to nobody

[2020-09-25 13:21] dtakken commented on #23
Related PR to update the coding standards to include parameter names:

php/php-src/pull/5897

[2020-09-29 14:14] Girgias commented on #18
And we're done 🎉

[2020-09-29 14:14] #18 closed, assigned to nobody

[2020-09-30 14:59] chschneider commented on #20
I made a patch to allow empty needles by explicitly checking in grapheme_strpos_utf16.

See
  https://github.com/php/php-src/compare/master...chschneider:grapheme_empty_needles
for the diff, should I submit a pull request or are there major issues with this approach?

[2020-09-30 18:37] nikic commented on #20
@chschneider Looks reasonable

[2020-10-01 15:25] #20 closed, assigned to nobody

[2020-10-09 00:17] Crell commented on #23
PR for pgsql: https://github.com/php/php-src/pull/6304

Waiting to see if it passes tests... :sweat_smile:

[2020-10-13 13:29] nikic commented on #4
I gave this a try and decided that it is not worthwhile. Their test setup is too complicated.

[2020-10-13 13:29] #4 closed

[2020-10-18 14:00] Girgias opened #25 "Update function alias list in documentation"
We have an appendix which lists all the function aliases https://www.php.net/manual/en/aliases.php however it seems to be unmaintained. But I imagine it should be relatively easy to generate this page now that we have this information available in the stubs.

[2020-10-18 14:31] kocsismate commented on #25
I agree, it has become easy to generate this page from stubs, as long as we only do this for function-function aliases. 🙂

Unfortunately, there's an issue with function-method aliases that stubs and the manual report aliases differently: while stubs always define the functions as base, the manual usually reports them as aliases, e.g. oci8 on this page, but ext/date or iirc mysqli also does the sam

[2020-10-18 14:48] cmb69 commented on #25
Regarding the docs: if the methods are documented as aliases of the functions, there is no nice class overview page (e.g. https://www.php.net/xmlwriter). If the functions are documented as aliases of the methods, the search functionality is broken. IMHO, the former is worse, but we may consider to fix/improve the search.

[2020-10-21 09:23] nikic commented on #23
I believe we're done here.

[2020-10-21 09:23] #23 closed, assigned to nobody

[2020-10-29 02:50] jrfnl commented on #6
For completeness of the list, the following extensions also saw resource to object changes in PHP 8.0:
* GD, GdImage  - https://github.com/php/php-src/pull/4714
* XML - https://github.com/php/php-src/pull/3526
* XMLWriter - https://github.com/php/php-src/pull/4706

The status of the Enchant extension is not 100% clear to me. The change from resource to object is mentioned in [the changelog](https:

[2020-10-29 02:57] jrfnl commented on #6
Another one for which I can't seem to determine the status is SNMP.
I can see some PHP 8.0 commits mentioning a resource to object change, but I can't find an entry in the changelog, nor an associated PR:
* https://github.com/php/php-src/commit/2d32b633b26b39fdc96bd95415a5487f1de47d72
* https://github.com/php/php-src/commit/905c79c05c4194b0bc58d6e8e85895fc91c28be5

[2020-10-29 03:55] Girgias commented on #6
Have a look at commit: https://github.com/php/php-src/commit/cd3e04dff375fbfaba37a4ae1c8ef1805f63c940 for Enchant

[2020-10-29 04:35] jrfnl commented on #6
Thanks @Girgias !

[2020-10-29 10:09] cmb69 commented on #6
Me neither, but it seems there is an OOP API as of PHP 5.4.0 (http://github.com/php/php-src/commit/5e82e334ddffcf577542a74a37f3388d14790686) which is not documented at all.

PS: oh, [it is documented](https://www.php.net/manual/en/class.snmp.php).

[2020-10-30 23:44] jrfnl commented on #6
@cmb69 Thanks for taking a look! Still not entirely clear what the change in PHP 8.0 is related to that. Let's hope someone figures it out and adds it to the changelog (if relevant enough) ;-)

[2020-11-22 17:59] Girgias opened #26 "PHP 8 documentation tracker"
Pages which need to be added/modified for complete documentation of PHP 8:

Based of the migration guide: https://github.com/php/doc-en/pull/170

(Currently W.I.P.)

## Core:

- [ ] New features:
   - [x] Type declarations (https://github.com/php/doc-en/pull/174)
     - [x] Union types
     - [x] mixed
     - [x] static return
  - [x] Constructor Promotion (https://github.com/php/doc-en/pull/188)

[2020-11-22 18:06] TysonAndre commented on #26
That should say "abstract trait methods are validated against the implementation provided in the using class, according to our usual inheritance rules." and "traits can now have abstract **private** methods"

https://wiki.php.net/rfc/abstract_trait_method_validation

named arguments - "Named arguments allow passing arguments to a function based on the parameter name, rather than the parameter posi

[2020-11-22 18:09] Girgias commented on #26
This rather a tracker and not an accurate description of the features, but will modify them

[2020-11-22 19:39] emmanix2002 commented on #26
@Girgias I'd like to help with adding the docs for a few of the new strig functions

[2020-11-23 00:17] Girgias commented on #26
The best way to do that is to fork https://github.com/php/doc-en/ and then to base the documentation on the `strpos()` function which is located here: blob/master/reference/strings/functions/stripos.xml

[2020-11-23 00:38] matthewtrask commented on #26
I'll take a shot at the `$object::class` docs.

[2020-11-23 02:45] jrfnl commented on #26
To add to the update list:
- [ ] Update the function signatures of all functions and methods where parameters have been renamed in anticipation of named parameters. (as otherwise people won't know what parameter names to use for PHP native functions)
- [ ] Where relevant, update the function signatures of all functions and methods where type declarations have been added or have been changed.
    I

[2020-11-23 05:44] Girgias commented on #26
This is already handled "internally" by us as @kocsismate is running a script to update the docs based on the official stubs and I'm confident he's tracking which extensions have already been covered.

My intent with this issue tracker is to track changes which don't need to be done in bulk, as those would be rather painful to do manually.

So I can add them, but I'm not sure it makes a lot of sen

[2020-11-23 05:57] jrfnl commented on #26
@Girgias Happy to hear this will be handled via a script and totally understand not adding it to the list in that case. Kudos to @kocsismate.

Just figured I'd mention it as I already ran into this - case in point: the example code in the Named Arguments RFC for `array_fill()` will no longer work as `$num` has been renamed to `$count` ;-)

[2020-11-23 06:36] kocsismate commented on #26
And thanks to cmb, there is already a tracker for the function signature updates in the manual: https://github.com/php/doc-en/labels/methodsynopses

[2020-11-23 08:23] emmanix2002 commented on #26
Thanks

[2020-11-23 10:49] emmanix2002 commented on #26
@Girgias opened PR for `str_contains` here: https://github.com/php/doc-en/pull/216

[2020-11-23 15:06] 50bhan commented on #26
Is there any guidelines about how to write proper docs for PHP?

[2020-11-23 15:10] emmanix2002 commented on #26
@50bhan I simply followed the instructions in the repo's README to understand set up and you can look at the review comments on my first PR to understand some of the things to watch out for.

https://github.com/php/doc-en/pull/216

[2020-11-23 15:15] cmb69 commented on #26
There is a small [tutorial for doc contributors](http://doc.php.net/tutorial/). [PRs to improve that tutorial](https://github.com/php/web-doc/pulls) are also welcome!

[2020-11-23 17:33] emmanix2002 commented on #26
Any suggestions for the preferred directory for the `get_resource_id()` and `get_debug_type()` documentation reference?

[2020-11-23 17:38] emmanix2002 commented on #26
No worries, I've found the right directory. I'll add them to the `var/functions` directory 😬

[2020-11-24 15:24] flow-control commented on #26
@Girgias I checked the `ZipArchive::setProgressCallback()` and `::setCancleCallback()` and found out, that these two methods are in fact named `::registerProgressCallback()` and `::registerCancleCallback()`. Their documentation exists already [here](https://www.php.net/manual/en/ziparchive.registercancelcallback.php) and [there](https://www.php.net/manual/en/ziparchive.registerprogresscallback.php

[2020-11-25 22:39] Crell commented on #26
Trailing commas PR: https://github.com/php/doc-en/pull/241

[2020-11-27 05:37] cjbj commented on #26
@Girgias For the OCI8 renamed classes (OCI-Lob to OCILob & OCI-Collection to OCICollection) task the new PR is https://github.com/php/doc-en/pull/246, replacing #237.  With thanks to @cmb69.

[2020-11-27 12:43] ekinhbayar commented on #26
If nobody has started on it yet, I'd like to help with documenting named arguments over the weekend. I think [function arguments](https://www.php.net/manual/en/functions.arguments.php) page would be a good candidate for this. Thoughts? cc @Girgias @cmb69

[2020-11-27 16:37] Girgias commented on #26
This would be the correct page, I wonder if at the same time you could do a paragraph about how Optional args after mandatory ones are deprecated as of PHP 8.0.0.

[2020-11-27 18:26] ekinhbayar commented on #26
@Girgias oh good one, will do! Thanks.

[2020-11-29 16:30] ekinhbayar commented on #26
Here's the PR for named arguments and deprecation of optional args after mandatory ones: https://github.com/php/doc-en/pull/251

[2020-11-30 04:50] bkdotcom commented on #26
`ReflectionParameter::getType()` is NOT deprecated!

`ReflectionParameter::getClass()`, `ReflectionParameter::isArray()`, and `ReflectionParameter::isCallable()` have been deprecated with the preferred method being `getType()`

[2020-11-30 04:54] Girgias commented on #26
Indeed fixed that

[2020-11-30 10:49] nikic commented on #21
I did a quick experiment in https://github.com/php/php-src/pull/6463, but don't plan to continue working on this myself. For some reason the build is also very slow, but possibly that's avoidable (e.g. if it's due to skipif timeouts or so) :/

[2020-12-03 22:26] nikic commented on #16
With PHP 8 released, I think it's safe to close this...

[2020-12-03 22:26] #16 closed, assigned to nobody

[2020-12-08 10:20] cmb69 opened #27 "Remove deprecated functionality in PHP 9"
* [ ] [base_convert() and friends should thrown on invalid characters](https://wiki.php.net/rfc/base_convert_improvements)
* [ ] ZIP Procedural API
* [ ] ``ZipArchive::open()`` empty file is deprecated
* [ ] Returning ``bool`` for array comparison functions
* [ ] ``Session callback must have a return value of type bool``
* [ ] ``get_defined_functions()`` boolean argument ``exclude_disabled`` has n

[2020-12-17 15:35] nikic opened #28 "Test against different MySQL/MariaDB server versions in CI"
It would be nice if we had a nightly job on azure pipelines that checks the ext/mysqli and ext/pdo_mysql tests against different MySQL and MariaDB versions.

[2020-12-21 15:23] nikic opened #29 "Add missing CI for extensions"
The following extensions currently do not have CI testing or only incomplete testing. These should be tested on Azure Pipelines Linux x64 configuration if possible.

 * oci8
   * [x] Build (https://github.com/php/php-src/pull/6604)
   * [x] Test
 * pdo_dblib
   * [x] Build (https://github.com/php/php-src/pull/6569)
   * [x] Test (https://github.com/php/php-src/pull/6569)
 * pdo_firebird
   * [x] B

[2020-12-21 15:35] cmb69 commented on #29
FWIW, ext/odbc and ext/pdo_odbc are built and tested on AppVeyor against MS SQLServer. Testing against other databases would certainly be *highly* desireable, but likely many tests would fail (I ran the tests against MySQL, and roughly half of them failed).

[2020-12-21 15:40] nikic commented on #29
@cmb69 Thanks for the information, I was not aware that there are tested on AppVeyor. Having these tested on Linux and other DBs would be good, but it's reassuring that at least we have them somewhere...

[2020-12-21 23:09] nikic commented on #29
I've added builds for PDO ODBC and PDO Firebird. PDO DBlib is also easy to build, but each test waits for a ~10s timeout, so we'd have to actually set up the server side for that to be feasible.

[2021-01-09 04:32] Girgias commented on #21
Maybe we could use GitHub actions?
@shivammathur seems to have figured how to build it via the following repo https://github.com/shivammathur/php-builder-windows

[2021-01-14 15:02] nikic commented on #29
PDO DBLib build & test has been added in https://github.com/php/php-src/pull/6569.

[2021-01-15 11:13] nikic commented on #29
OCI and PDO OCI build has been added in https://github.com/php/php-src/pull/6604.

[2021-01-18 17:03] Girgias opened #30 "Enable ext/pdo/tests/pdo_022.phpt test"
This PDO test is mark as XFAIL as "Feature not implemented no test makes sense" but is actually implemented...

However as it tests the ``PDOStatement::getColumnMeta()`` method it might make more sense that each individual driver has their own corresponding test than a common PDO test.

[2021-01-18 17:14] cmb69 commented on #30
But see https://bugs.php.net/bug.php?id=46508#1246268547.

[2021-01-18 17:29] Girgias commented on #30
Well... maybe that's something which should be done, or because it's been already 12 years the current behaviour is the current spec.

[2021-02-16 09:51] nikic commented on #1
This has been implemented in https://github.com/php/php-src/pull/6693.

[2021-02-16 09:51] #1 closed

[2021-02-16 09:54] nikic commented on #5
We now at least test that OCI8/PDO_OCI build (#29).

[2021-02-16 09:55] nikic commented on #7
Is there anything actionable still left here? I think @kocsismate already did this where possible.

[2021-02-16 09:59] nikic commented on #14
For the record, I tried to add testing in https://github.com/php/php-src/pull/5933, but gave up on it as more trouble than it is worth. Musl simply delights in following the letter rather than the spirit of the standard, and I don't think it's worthwhile to add all the necessary workarounds for it.

[2021-02-16 10:01] nikic commented on #13
I guess this is a moot point now that we no longer use Travis.

It would be nice to find a new way to test on non-x86 architectures.

[2021-02-16 10:09] kocsismate commented on #13
Apparently, there is a GitHub action for this: https://github.com/marketplace/actions/run-on-architecture

[2021-02-16 10:15] nikic commented on #13
Yeah, I found that one as well. It's based on qemu, so maybe slow... Probably worth giving it a try though. At least arm64 seems like something we should be testing.

[2021-02-16 10:29] kocsismate commented on #7
I completely ignored the dba and imap extensions, so it might be possible that there are some candidates there. Also, if I remember well, it is now possible to declare types consisting of multiple classes, so we could add the necessary ZPP macros for this purpose (one example: `RecursiveIterator|IteratorAggregate`). And we haven't added ZPP for too weird or too rare union types like (`FFI\CData|in

[2021-02-16 20:48] Girgias commented on #7
Imap *should* be fine, and DBA is just a lost cause...

Closing as it seems we've reasonably covered all cases

[2021-02-16 20:48] #7 closed, assigned to nobody

[2021-02-23 16:37] jensdenies commented on #27
Hi @cmb69, @cjbj,

Would it be a good idea to add the deprecated OCI aliases to this list, since they have been soft deprecated a long time ago and hard deprecated in PHP 8.0 (https://github.com/php/php-src/pull/5589)?

[2021-02-23 23:45] cjbj commented on #27
@jensdenies seems like busy work.  But if the lack of 'niceness' is itching you, it can be done.

[2021-04-17 11:27] himanshu007-creator commented on #17
can i work on this issue?

[2021-04-17 13:10] nikic commented on #17
I'm actually not sure what this issue is suggesting ... doesn't the referenced part of azure-pipelines.yml already skip doc-only changes?

[2021-04-17 14:45] carusogabriel commented on #17
@nikic What I meant was documentation, `README.md`s in the extensions, etc.

@himanshu007-creator Sure, go ahead!

[2021-04-17 14:52] himanshu007-creator commented on #17
https://github.com/php/php-src/pull/6876

[2021-08-28 21:57] #17 closed, assigned to nobody